.app {
  position: relative;
}
.home {
  background: $gray-color;
  &__article {
    max-width: 53.125rem;
    margin-bottom: auto;
    margin-top: 5rem;
    @include respond-below(xxxs){
      margin-top: auto;
    }
    @include respond-above(sm) {
      margin-left: 6.5rem;
      margin-bottom: 0;
    }
  }
  &__buttons {
    margin-top: 1.875rem;
    display: none;
    @include respond-above(sm) {
      display: block;
    }
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &__paragraph {
    margin-top: 1.25rem;
    max-width: 42.125rem;
    font-size: 1.2rem;
    @include respond-above(lg) {
      font-size: 1rem;
    }
  }
}
.skills {
  background: $black-color;
  color: $white-color;
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 60.625rem;
    width: 100%;
    margin-top: 2rem;
    height: 100%;
    @include respond-above(sm) {
      margin-top: 3rem;
    }
    @include respond-above(md) {
      margin-top: 5rem;
    }
    @include respond-above(lg){
      margin-top: 2.25rem;
      max-width: 42.625rem;

    }
    @include respond-above(xl) {
      max-width: 60.625rem;
    }
  }
  &__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include respond-above(lg) {
      justify-content: space-between;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: .5rem;
      @include respond-above(sm) {
        margin-right: 2rem;
      }
      @include respond-above(lg) {
        margin-right: 0;
      }
    }
  }
  &__btn {
    font-family: inherit;
    font-size: 1.1rem;
    line-height: 1.5;
    background: none;
    border: none;
    color: $white-color;
    cursor: pointer;
    margin-bottom: 1rem;
    @include respond-above(sm) {
      font-size: 2rem;
      margin-bottom: 0;
    }
    @include respond-above(lg){
      font-size: 1.25rem;
    }
    @include respond-above(xl) {
      font-size: 1.75rem;
    }
    &:hover {
      font-weight: 600;
    }
    &:focus {
      outline: none;
    }
    &.active {
      font-weight: 600;
    }
  }
  &__circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    @include respond-above(lg) {
      margin-top: clamp(2rem, 8.3vh, 4.6875rem);
      margin-bottom: 0;
    }
  }
  &__circle {
    position: relative;
    width: 53.75vw;
    height: 53.75vw;
    z-index: 1000;
    @include respond-above(md) {
      width: 30.75rem;
      height: 30.75rem;
    }
    @include respond-above(lg) {
      width: 16.75rem;
      height: 16.75rem;
    }
    circle {
      width: 100%;
      height: 100%;
      fill: none;
      stroke: rgba(180, 180, 180, 0.4);
      stroke-width: 5;
      stroke-linecap: round;
      transition: stroke-dashoffset 0.35s;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }
    circle:nth-child(2) {
      stroke: #b4b4b4;
      stroke-width: 15;
    }
  }
  &__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    h4 {
      font-size: 3.125rem;
      line-height: 1.5;
      font-weight: 700;
      @include respond-above(sm) {
        font-size: 5.125rem;
      }
      @include respond-above(lg) {
        font-size: 2.125rem;
      }
    }
  }
}
.portfolio {
  background: $black-color;
  color: $white-color;
  &__container {
    max-width: 45rem;

    margin: auto;

    @include respond-above(lg) {
      margin-left: auto;
      margin-right: auto;
      margin-top: clamp(1.5rem, 4vh, 2.25rem);
    }
  }
  &__sub-heading {
    font-size: clamp(0.9rem, 1.25vw, 1.5rem);
    line-height: 1.5;
    text-align: center;
    @include respond-below(xxxs) {
      font-size: 0.8rem;
    }
    @include respond-above(md) {
      font-size: clamp(1.3rem, 1.25vw, 1.5rem);
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: 2.375rem;
    @include respond-below(xxxs) {
      margin-top: 0.375rem;
      grid-row-gap: 0.5rem;
    }
    @include respond-above(md) {
      grid-column-gap: clamp(1.375rem, 3.6vw, 4.375rem);
      grid-row-gap: clamp(1rem, 2.5vh, 3.125rem);
    }
    @include respond-above(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__item {
    display: block;
    max-width: 5rem;
    text-decoration: none;
    margin: auto;
    @include respond-above(sm) {
      max-width: 8.125rem;
    }
  }
  &__figure {
    margin-bottom: 0.5rem;
    @include respond-above(md) {
      margin-bottom: 1rem;
    }
  }
  &__image {
    width: 5rem;
    height: 5rem;
    background: $white-color;
    border-radius: 0.6rem;
    @include respond-below(xxxs) {
      height: 4rem;
      width: 4rem;
    }
    @include respond-above(sm) {
      width: 8.125rem;
      height: 8.125rem;
    }
    @include respond-above(lg){
      @media (max-height:800px){
        width: 6.125rem;
        height: 6.125rem;
      }
    }
  }
  &__text {
    text-align: center;
    color: $white-color;
    font-size: 0.8rem;
    @include respond-below(xxxs) {
      font-size: 0.7rem;
    }
    @include respond-above(sm) {
      font-size: 1rem;
    }
  }
}
.contact {
  background: $gray-color;

  &__container {
    max-width: 50.625rem;
    width: 100%;
    margin: auto;
    @include respond-above(lg) {
      max-width: 53.625rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: clamp(1.4rem, 3.5vh, 3.125rem);
    }
  }
  &__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    @include respond-above(sm) {
      justify-content: space-evenly;
      flex-direction: row;
    }
  }
  &__item {
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    @include respond-below(xxxs) {
      font-size: 0.8rem;
    }
    @include respond-above(sm) {
      font-size: 1.2rem;
    }
    @include respond-above(lg) {
      font-size: 1.2rem;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
      @include respond-below(xxxs) {
        margin-bottom: 0.3rem;
      }
      @include respond-above(sm) {
        margin-bottom: 0;
      }
    }
  }
  &__icon-container {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 1.3rem;
    height: 1.3rem;
    @include respond-below(xxxs) {
      width: 1rem;
      height: 1rem;
    }
    @include respond-above(sm) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
