.container {
  padding: 3rem 5.75vw 2.2rem;
  height: 100%;
  position: relative;
  z-index: 10;
  @include respond-above(sm) {
    padding: 8vh 3.75vw;
  }
  @include respond-above(xl) {
    @media (max-height: 800px) {
      padding: 6vh 3.75vw;
    }
  }
  &--row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &--column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.animation-right {
    animation-name: appear-right;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  &.animation-left {
    animation-name: appear-left;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

@keyframes appear-right {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes appear-left {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
