.fp-controlArrow {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 5.25rem;
  height: 5.25rem;
  border-style: solid;
  border-radius: 50%;
  border: 3px solid $gray-color;
  transform: translate3d(0, -50%, 0);

  &.fp-prev {
    left: 5.25rem;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $black-color;
      background-image: url(../images/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      transform: rotate(180deg);
    }
  }
  &.fp-next {
    right: 5.25rem;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $black-color;
      background-image: url(../images/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }
}
