@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: $primary-font;
}
.heading-1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  @include respond-above(sm) {
    font-size: 3rem;
  }
  @include respond-above(lg) {
    font-size: clamp(2.1rem, 4.94vw, 5.9375rem);
  }
}
.heading-2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
  @include respond-above(sm) {
    font-size: 3rem;
  }
  @include respond-above(lg) {
    font-size: clamp(1.5rem, 2.6vw, 3.125rem);
  }
}
.heading-3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 2rem;
  @include respond-above(sm) {
    font-size: 2.5rem;
    margin-top: 0;
  }
  @include respond-above(lg) {
    font-size: clamp(2.1rem, 2.6vw, 3.125rem);
  }
}
.heading-container {
  margin-top: 1.75rem;
  @include respond-above(sm){
    margin-top: 0;
  }
  @include respond-below(xxxs) {
    margin-top: 0;
  }
}
.paragraph {
  font-size: clamp(1rem, 1vw, 1.25rem);
  line-height: 1.5;
  font-weight: 300;
}

.btn {
  padding: 0.55rem 2.5rem;
  background: $black-color;
  border: 3px solid $black-color;
  border-radius: 1.875rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: $white-color;
  text-decoration: none;
  font-family: inherit;
  transition: 0.5s all;
  &:focus {
    outline: none;
  }
  &:hover {
    background: $gray-color;
    color: $black-color;
  }
  &--contact {
    border-color: $white-color;
    padding: 0.65rem 2.875rem;
    @include respond-below(xxxs) {
      font-size: 0.8rem;
      padding: 0.5rem 2rem;
    }
    &:hover {
      border-color: $black-color;
    }
  }
}
