/*BASE*/
/*COLORS*/
/*Font family*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  cursor: none;
}

a {
  cursor: none;
}

button {
  cursor: none;
}

.landscape {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
  .app {
    display: none;
  }

  .header {
    display: none;
  }

  .nav {
    visibility: hidden;
  }

  .landscape {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
    color: #f5f5f5;
    text-align: center;
    height: 100vh;
  }
}
body {
  font-family: "Poppins", sans-serif;
}

.heading-1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 767px) {
  .heading-1 {
    font-size: 3rem;
  }
}
@media (min-width: 1099px) {
  .heading-1 {
    font-size: 4.94vw;
  }
}

.heading-2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 767px) {
  .heading-2 {
    font-size: 3rem;
  }
}
@media (min-width: 1099px) {
  .heading-2 {
    font-size: 2.6vw;
  }
}

.heading-3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 2rem;
}
@media (min-width: 767px) {
  .heading-3 {
    font-size: 2.5rem;
    margin-top: 0;
  }
}
@media (min-width: 1099px) {
  .heading-3 {
    font-size: 2.6vw;
  }
}

.heading-container {
  margin-top: 1.75rem;
}
@media (min-width: 767px) {
  .heading-container {
    margin-top: 0;
  }
}
@media (max-width: 361px) {
  .heading-container {
    margin-top: 0;
  }
}

.paragraph {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}
@media (min-width: 767px) {
  .paragraph {
    font-size: 1.2rem;
  }
}

.btn {
  padding: 0.55rem 2.5rem;
  background: #0d0d0d;
  border: 3px solid #0d0d0d;
  border-radius: 1.875rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: #f5f5f5;
  text-decoration: none;
  font-family: inherit;
  transition: 0.5s all;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background: #b4b4b4;
  color: #0d0d0d;
}
.btn--contact {
  border-color: #f5f5f5;
  padding: 0.65rem 2.875rem;
}
@media (max-width: 361px) {
  .btn--contact {
    font-size: 0.8rem;
    padding: 0.5rem 2rem;
  }
}
.btn--contact:hover {
  border-color: #0d0d0d;
}

/*Components*/
.app {
  position: relative;
}

.home {
  background: #b4b4b4;
}
.home__article {
  max-width: 53.125rem;
  margin-bottom: auto;
  margin-top: 5rem;
}
@media (max-width: 361px) {
  .home__article {
    margin-top: auto;
  }
}
@media (min-width: 767px) {
  .home__article {
    margin-left: 6.5rem;
    margin-bottom: 0;
  }
}
.home__buttons {
  margin-top: 1.875rem;
  display: none;
}
@media (min-width: 767px) {
  .home__buttons {
    display: block;
  }
}
.home__buttons > *:not(:last-child) {
  margin-right: 1rem;
}
.home__paragraph {
  margin-top: 1.25rem;
  max-width: 42.125rem;
  font-size: 1.2rem;
}
@media (max-width: 361px) {
  .home__paragraph {
    font-size: 1rem;
  }
}
@media (min-width: 1099px) {
  .home__paragraph {
    font-size: 1rem;
  }
}

.skills {
  background: #0d0d0d;
  color: #f5f5f5;
}
.skills__container {
  display: flex;
  flex-direction: column;
  max-width: 60.625rem;
  width: 100%;
  margin-top: 2rem;
  height: 100%;
}
@media (min-width: 767px) {
  .skills__container {
    margin-top: 3rem;
  }
}
@media (min-width: 991px) {
  .skills__container {
    margin-top: 5rem;
  }
}
@media (min-width: 1099px) {
  .skills__container {
    margin-top: 2.25rem;
    max-width: 42.625rem;
  }
}
@media (min-width: 1439px) {
  .skills__container {
    max-width: 60.625rem;
  }
}
.skills__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1099px) {
  .skills__list {
    justify-content: space-between;
  }
}
.skills__item:not(:last-child) {
  margin-right: 0.5rem;
}
@media (min-width: 767px) {
  .skills__item:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (min-width: 1099px) {
  .skills__item:not(:last-child) {
    margin-right: 0;
  }
}
.skills__btn {
  font-family: inherit;
  font-size: 1.1rem;
  line-height: 1.5;
  background: none;
  border: none;
  color: #f5f5f5;
  margin-bottom: 1rem;
}
@media (min-width: 767px) {
  .skills__btn {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
@media (min-width: 991px) {
  .skills__btn {
    font-size: 1.25rem;
  }
}
@media (min-width: 991px) and (min-height: 1200px) {
  .skills__btn {
    font-size: 2rem;
  }
}
@media (min-width: 1099px) {
  .skills__btn {
    font-size: 1.25rem;
  }
}
@media (min-width: 1439px) {
  .skills__btn {
    font-size: 1.75rem;
  }
}
.skills__btn:hover {
  font-weight: 600;
}
.skills__btn:focus {
  outline: none;
}
.skills__btn.active {
  font-weight: 600;
}
.skills__circle-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
@media (min-width: 1099px) {
  .skills__circle-container {
    margin-top: 8.3vh;
    margin-bottom: 0;
  }
}
.skills__circle {
  position: relative;
  width: 10.75rem;
  height: 10.75rem;
  z-index: 1000;
}
@media (min-width: 767px) {
  .skills__circle {
    width: 43.75vw;
    height: 43.75vw;
  }
}
@media (min-width: 991px) {
  .skills__circle {
    width: 16.75rem;
    height: 16.75rem;
  }
}
@media (min-width: 991px) and (min-height: 1200px) {
  .skills__circle {
    width: 30.75rem;
    height: 30.75rem;
  }
}
@media (min-width: 1099px) {
  .skills__circle {
    width: 16.75rem;
    height: 16.75rem;
  }
}
.skills__circle circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: rgba(180, 180, 180, 0.4);
  stroke-width: 5;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.skills__circle circle:nth-child(2) {
  stroke: #b4b4b4;
  stroke-width: 15;
}
.skills__number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.skills__number h4 {
  font-size: 2.525rem;
  line-height: 1.5;
  font-weight: 700;
}
@media (min-width: 767px) {
  .skills__number h4 {
    font-size: 4.125rem;
  }
}
@media (min-width: 991px) {
  .skills__number h4 {
    font-size: 2.125rem;
  }
}
@media (min-width: 991px) and (min-height: 1200px) {
  .skills__number h4 {
    font-size: 5.125rem;
  }
}
@media (min-width: 1099px) {
  .skills__number h4 {
    font-size: 2.125rem;
  }
}

.portfolio {
  background: #0d0d0d;
  color: #f5f5f5;
}
.portfolio__container {
  max-width: 45rem;
  margin-top: 1rem;
}
@media (max-width: 421px) {
  .portfolio__container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 421px) and (max-height: 736px) {
  .portfolio__container {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1099px) {
  .portfolio__container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
  }
}
.portfolio__sub-heading {
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 361px) {
  .portfolio__sub-heading {
    font-size: 0.7rem;
  }
}
@media (min-width: 991px) {
  .portfolio__sub-heading {
    font-size: 1.5rem;
  }
}
.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 2.375rem;
}
@media (max-width: 421px) {
  .portfolio__grid {
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media (max-width: 421px) and (max-height: 736px) {
  .portfolio__grid {
    margin-top: 1.375rem;
  }
}
@media (max-width: 361px) {
  .portfolio__grid {
    margin-top: 0.375rem;
    row-gap: 0.5rem;
  }
}
@media (max-width: 361px) and (min-height: 600px) {
  .portfolio__grid {
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media (min-width: 991px) {
  .portfolio__grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.6vw;
    row-gap: 2.5vh;
  }
}
@media (min-width: 991px) and (min-height: 1200px) {
  .portfolio__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1099px) {
  .portfolio__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.portfolio__item {
  display: block;
  max-width: 5rem;
  text-decoration: none;
  margin: auto;
}
@media (min-width: 767px) {
  .portfolio__item {
    max-width: 8.125rem;
  }
}
.portfolio__item:hover .portfolio__text {
  font-weight: 700;
}
.portfolio__figure {
  margin-bottom: 0.5rem;
}
@media (min-width: 991px) {
  .portfolio__figure {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1099px) and (max-height: 800px) {
  .portfolio__figure {
    margin-bottom: 0.5rem;
  }
}
.portfolio__image {
  width: 4rem;
  height: 4rem;
  background: #f5f5f5;
  border-radius: 0.6rem;
}
@media (min-width: 767px) {
  .portfolio__image {
    width: 8.125rem;
    height: 8.125rem;
  }
}
@media (min-width: 991px) {
  .portfolio__image {
    width: 5.725rem;
    height: 5.725rem;
  }
}
@media (min-width: 991px) and (min-height: 1200px) {
  .portfolio__image {
    width: 8.125rem;
    height: 8.125rem;
  }
}
@media (min-width: 1099px) and (max-height: 800px) {
  .portfolio__image {
    width: 5.725rem;
    height: 5.725rem;
  }
}
.portfolio__text {
  text-align: center;
  color: #f5f5f5;
  font-size: 0.8rem;
}
@media (max-width: 361px) {
  .portfolio__text {
    font-size: 0.7rem;
  }
}
@media (min-width: 767px) {
  .portfolio__text {
    font-size: 1rem;
  }
}

.contact {
  background: #b4b4b4;
}
.contact__container {
  max-width: 50.625rem;
  width: 100%;
  margin: 1.5rem;
}
@media (max-width: 421px) {
  .contact__container {
    height: 100%;
  }
}
@media (max-width: 421px) and (max-height: 667px) {
  .contact__container {
    margin: 0;
  }
}
@media (min-width: 1099px) {
  .contact__container {
    max-width: 53.625rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5vh;
  }
}
.contact__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .contact__list {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
.contact__item {
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
}
@media (max-width: 361px) {
  .contact__item {
    font-size: 0.8rem;
  }
}
@media (min-width: 767px) {
  .contact__item {
    font-size: 1.2rem;
  }
}
@media (min-width: 1099px) {
  .contact__item {
    font-size: 1.2rem;
  }
}
.contact__item:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 361px) {
  .contact__item:not(:last-child) {
    margin-bottom: 0.3rem;
  }
}
@media (min-width: 767px) {
  .contact__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.contact__icon-container {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
.contact__icon {
  width: 1.3rem;
  height: 1.3rem;
}
@media (max-width: 361px) {
  .contact__icon {
    width: 1rem;
    height: 1rem;
  }
}
@media (min-width: 767px) {
  .contact__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

#circle {
  display: none;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(180, 180, 180, 0.55);
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 2px solid #0d0d0d;
}
@media (min-width: 1099px) {
  #circle {
    display: block;
  }
}

#circle.animation {
  animation-name: grow;
}

@keyframes grow {
  0%, 100% {
    border: 2px solid rgba(180, 180, 180, 0.55);
  }
  50% {
    border: 10px solid rgba(180, 180, 180, 0.55);
  }
}
.container {
  padding: 3rem 5.75vw;
  height: 100%;
  position: relative;
  z-index: 10;
}
@media (min-width: 767px) {
  .container {
    padding: 8vh 3.75vw;
  }
}
@media (min-width: 1439px) and (max-height: 800px) {
  .container {
    padding: 6vh 3.75vw;
  }
}
.container--row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container--column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container.animation-right {
  animation-name: appear-right;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.container.animation-left {
  animation-name: appear-left;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes appear-right {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes appear-left {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
.form {
  background: #0d0d0d;
  padding: 1rem 1.75rem;
  border-radius: 3.125rem;
  margin-top: 2.25rem;
}
@media (max-width: 421px) and (max-height: 667px) {
  .form {
    margin-top: 1rem;
  }
}
@media (max-width: 361px) {
  .form {
    margin-top: 1rem;
  }
}
@media (max-width: 361px) and (min-height: 644px) {
  .form {
    margin-top: 3rem;
  }
}
@media (min-width: 767px) {
  .form {
    padding: 1.875rem 4.75rem;
  }
}
.form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1rem 0;
}
@media (max-width: 361px) {
  .form__group {
    padding: 0.75rem 0;
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 767px) {
  .form__group {
    padding: 1.5rem 0;
  }
}
@media (min-width: 991px) {
  .form__group {
    padding: 1rem 0;
  }
}
@media (min-width: 991px) and (min-height: 1200px) {
  .form__group {
    padding: 1.5rem 0;
  }
}
@media (min-width: 1099px) and (max-height: 800px) {
  .form__group {
    padding: 1rem 0;
  }
}
.form__group--btn {
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 0;
  align-items: center;
}
@media (max-width: 421px) and (max-height: 667px) {
  .form__group--btn {
    margin-top: 1.5rem;
  }
}
@media (max-width: 361px) {
  .form__group--btn {
    margin-top: 1.5rem;
  }
}
@media (min-width: 991px) {
  .form__group--btn {
    margin-top: 2rem;
  }
}
@media (min-width: 991px) and (min-height: 1200px) {
  .form__group--btn {
    margin-top: 3rem;
  }
}
@media (min-width: 1099px) and (max-height: 800px) {
  .form__group--btn {
    margin-top: 2rem;
  }
}
.form__label {
  position: absolute;
  top: 0;
  color: #f5f5f5;
  transform: translateY(60%);
  transition: all 0.5s;
}
@media (max-width: 361px) {
  .form__label {
    font-size: 0.8rem;
  }
}
.form__input {
  border: none;
  border-bottom: 3px solid #f5f5f5;
  background: none;
  font-size: 1.2rem;
  color: #f5f5f5;
  font-family: inherit;
  padding: 0 0.5rem;
}
.form__input:focus {
  outline: none;
}
.form__input:focus + .form__label {
  transform: translateY(-60%);
}
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-60%);
}

.header {
  position: fixed;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 361px) {
  .header {
    top: 1rem;
  }
}
@media (min-width: 767px) {
  .header {
    top: 4rem;
    left: 2rem;
    transform: translateX(0);
  }
}
@media (min-width: 1099px) {
  .header {
    top: 8vh;
    left: calc(3.75vw);
  }
}
.header__logo {
  max-width: 1.875rem;
}
@media (min-width: 767px) {
  .header__logo {
    max-width: 100%;
  }
}

.nav {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  display: none;
}
@media (min-width: 767px) {
  .nav {
    display: block;
  }
}
@media (min-width: 1099px) and (max-height: 800px) {
  .nav {
    bottom: 1rem;
  }
}
.nav__list {
  display: flex;
  list-style: none;
  padding: 0.75rem 2.25rem;
  border: 3px solid #0d0d0d;
  border-radius: 1.875rem;
  background: #b4b4b4;
}
.nav__item.active {
  font-weight: 700;
}
.nav__item:not(:last-child) {
  margin-right: 2rem;
}
.nav__item:hover {
  font-weight: 600;
}

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  bottom: 0%;
  width: 3.75rem;
  height: 3.75rem;
  border-style: solid;
  border-radius: 50%;
  border: 3px solid #b4b4b4;
  transform: translate3d(0, -50%, 0);
  transition: 0.5s all;
}
@media (max-width: 361px) {
  .fp-controlArrow {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (max-width: 361px) and (min-height: 570px) {
  .fp-controlArrow {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 767px) {
  .fp-controlArrow {
    bottom: 0%;
  }
}
@media (min-width: 991px) {
  .fp-controlArrow {
    top: 50%;
  }
}
.fp-controlArrow.fp-prev {
  left: 3.75vw;
}
.fp-controlArrow.fp-prev:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
  background-image: url(../images/arrow.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: 0.5s all;
}
@media (min-width: 767px) {
  .fp-controlArrow.fp-prev:before {
    background-size: 45%;
  }
}
@media (max-width: 361px) {
  .fp-controlArrow.fp-prev:before {
    background-size: 50%;
  }
}
.fp-controlArrow.fp-prev:hover:before {
  background-position: 80% center;
}
.fp-controlArrow.fp-next {
  right: 3.75vw;
}
.fp-controlArrow.fp-next:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
  background-image: url(../images/arrow.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: 0.5s all;
}
@media (min-width: 767px) {
  .fp-controlArrow.fp-next:before {
    background-size: 45%;
  }
}
@media (max-width: 361px) {
  .fp-controlArrow.fp-next:before {
    background-size: 50%;
  }
}
.fp-controlArrow.fp-next:hover:before {
  background-position: 80% center;
}

.social {
  list-style: none;
  padding: 0.75rem 1.25rem;
  border: 3px solid #0d0d0d;
  border-radius: 1.875rem;
  display: flex;
  align-items: center;
  transform: translateY(1.3rem);
}
@media (min-width: 767px) {
  .social {
    position: absolute;
    top: 50%;
    bottom: unset;
    transform: translate3d(0, -50%, 0);
    flex-direction: column;
    padding: 1.875rem 1rem;
  }
}
.social__item:not(:last-child) {
  margin-right: 1.75rem;
}
@media (min-width: 767px) {
  .social__item:not(:last-child) {
    margin-bottom: 1.75rem;
    margin-right: 0;
  }
}
.social__icon {
  width: 1.125rem;
  height: 1.125rem;
  transition: 0.5s all;
}
.social__link {
  display: flex;
  align-items: center;
}
.social__link:hover .social__icon {
  transform: scale(1.2);
}