/*BASE*/
/*COLORS*/
/*Font family*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.heading-1 {
  font-size: 5.9375rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading-2 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.5;
}

.heading-3 {
  font-size: 3.125rem;
  line-height: 1.5;
  font-weight: 500;
}

.heading-container {
  margin-top: 1.75rem;
}

.paragraph {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
}

.btn {
  padding: 0.65rem 1.875rem;
  background: #0d0d0d;
  border: 3px solid #0d0d0d;
  border-radius: 1.875rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: #f5f5f5;
  text-decoration: none;
  font-family: inherit;
  transition: 0.5s all;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background: #b4b4b4;
  color: #0d0d0d;
}
.btn--contact {
  border-color: #f5f5f5;
  padding: 0.65rem 2.875rem;
}
.btn--contact:hover {
  border-color: #0d0d0d;
}

/*Components*/
.app {
  position: relative;
}

.home {
  background: #b4b4b4;
}
.home__article {
  margin-left: 6.5rem;
  max-width: 53.125rem;
}
.home__buttons {
  margin-top: 1.875rem;
}
.home__buttons > *:not(:last-child) {
  margin-right: 1rem;
}
.home__paragraph {
  margin-top: 1.25rem;
  max-width: 42.125rem;
}

.skills {
  background: #0d0d0d;
  color: #f5f5f5;
}
.skills__container {
  display: flex;
  flex-direction: column;
  max-width: 60.625rem;
  width: 100%;
  margin-top: 2.25rem;
}
.skills__list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.skills__btn {
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.5;
  background: none;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
}
.skills__btn:hover {
  font-weight: 600;
}
.skills__btn:focus {
  outline: none;
}
.skills__btn.active {
  font-weight: 600;
}
.skills__circle-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4.6875rem;
}
.skills__circle {
  position: relative;
  width: 16.75rem;
  height: 16.75rem;
  z-index: 1000;
}
.skills__circle circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: rgba(180, 180, 180, 0.4);
  stroke-width: 5;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.skills__circle circle:nth-child(2) {
  stroke: #b4b4b4;
  stroke-width: 15;
}
.skills__number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.skills__number h4 {
  font-size: 2.125rem;
  line-height: 1.5;
  font-weight: 700;
}

.portfolio {
  background: #0d0d0d;
  color: #f5f5f5;
}
.portfolio__container {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.25rem;
}
.portfolio__sub-heading {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4.375rem;
  grid-row-gap: 3.125rem;
  margin-top: 2.375rem;
}
.portfolio__item {
  max-width: 8.125rem;
  text-decoration: none;
}
.portfolio__figure {
  margin-bottom: 1rem;
}
.portfolio__image {
  width: 100%;
  height: 8.125rem;
  background: #f5f5f5;
  border-radius: 0.6rem;
}
.portfolio__text {
  text-align: center;
  color: #f5f5f5;
}

.contact {
  background: #b4b4b4;
}
.contact__container {
  max-width: 53.625rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.125rem;
}
.contact__list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.contact__item {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.5;
}

.container {
  padding: 4.5rem;
  height: 100%;
  position: relative;
}
.container--row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container--column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  background: #0d0d0d;
  padding: 1.875rem 4.75rem;
  border-radius: 3.125rem;
  margin-top: 2.25rem;
}
.form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1.5rem 0;
}
.form__group--btn {
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 0;
  align-items: center;
}
.form__label {
  position: absolute;
  top: 0;
  color: #f5f5f5;
  transform: translateY(60%);
  transition: all 0.5s;
}
.form__input {
  border: none;
  border-bottom: 3px solid #f5f5f5;
  background: none;
  font-size: 1.2rem;
  color: #f5f5f5;
  font-family: inherit;
  padding: 0 0.5rem;
}
.form__input:focus {
  outline: none;
}
.form__input:focus + .form__label {
  transform: translateY(-60%);
}

.header {
  position: fixed;
  top: 4.5rem;
  left: 4.5rem;
}

.nav {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.nav__list {
  display: flex;
  list-style: none;
  padding: 1.125rem 2.25rem;
  border: 3px solid #0d0d0d;
  border-radius: 1.875rem;
  background: #b4b4b4;
}
.nav__item {
  cursor: pointer;
}
.nav__item:not(:last-child) {
  margin-right: 2rem;
}
.nav__item:hover {
  font-weight: 600;
}

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 5.25rem;
  height: 5.25rem;
  border-style: solid;
  border-radius: 50%;
  border: 3px solid #b4b4b4;
  transform: translate3d(0, -50%, 0);
}
.fp-controlArrow.fp-prev {
  left: 5.25rem;
}
.fp-controlArrow.fp-prev:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: rotate(180deg);
}
.fp-controlArrow.fp-next {
  right: 5.25rem;
}
.fp-controlArrow.fp-next:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social {
  list-style: none;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  padding: 1.875rem 1.25rem;
  border: 3px solid #0d0d0d;
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
}
.social__item:not(:last-child) {
  margin-bottom: 1.75rem;
}
.social__icon {
  width: 1.125rem;
  height: 1.125rem;
}